@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Rakkas&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

body{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    background-color: rgb(202, 202, 202);
    width: 800px;
    height: 600px;
    padding: 40px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
}
/*Criando o painel por cima das opções*/
.overlay{
     position: absolute;
    top: 0;
    left: 50%;

    width: 50%;
    height: 100%;

    background: #4a4a4a;

    transition: transform 0.6s ease;

    z-index: 10;
    border-radius: 30px;
}

.mover{
    transform: translateX(-100%);
}

/* configurando os espaços para digitar*/
input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/*Configurando os textos*/
.content a{
    text-decoration: none;
    color: #747474;
}

.text-login, .text-cadastro{
    width: 45%;
    padding: 30px;
}
.social-icon img{
    width: 22px;
    height: 22px;
    
}

.social-login{
    display: flex;
    align-items: center;
    gap: 15px;
}

/*Configurando os botões*/
button{
    width: 150px;
    padding: 10px;
    background-color: rgb(73, 73, 73);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover{
    background-color: #242424;
}

.content a:hover{
    color: #242424;
}